SERVICE_NAME=loan-core
PORT=3000

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=loan-core
KAFKA_CONNECTION_TIMEOUT=10000
KAFKA_REQUEST_TIMEOUT=30000

PG_LOAN_HOST=pg_loan_core
PG_LOAN_PORT=5432
PG_LOAN_USER=loan
PG_LOAN_PASSWORD=loanpass
PG_LOAN_DB=loan_core