SERVICE_NAME=api-gateway
PORT=3000

SERVICES_LOAN_CORE=http://loan-core:3000
SERVICES_KYC=http://kyc:3000
SERVICES_CREDIT=http://credit:3000
SERVICES_RISK=http://risk:3000
SERVICES_BLACKLIST=http://blacklist:3000
SERVICES_AUDIT=http://audit:3010

GATEWAY_TIMEOUT=30000
GATEWAY_HEALTHCHECK_TIMEOUT=2000